@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight.eot");
    src: url("../fonts/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "BadScriptRegular";
    src: url("../fonts/BadScript-Regular.ttf") format("truetype");
    /* src: url("../fonts/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight.woff") format("woff"),
    url("../fonts/BadScript-Regular.ttf") format("truetype"); */
    font-style: normal;
    font-weight: 400;
}




.font-yellow {
  font-family: "RobotoRegular", sans-serif;
  color: #F6C866;
}

.font-gray {
font-family: "RobotoLight", sans-serif;
text-align: center;
letter-spacing: 0.1em;

color: rgba(255, 255, 255, 0.6);
}

.font-white {
  font-family: "RobotoRegular", sans-serif;
  color: #FFFFFF;

}

.font-curve {
  font-family: "BadScriptRegular";
  color: #FFFFFF;
}


.font-black {
  color: #202024;
}

.font-simple-black {
  color: #202024;
  font-family: "RobotoRegular", sans-serif;
  /* font-size: 25px;
  line-height: 35px;
  text-align: center; */
}

.font-simple-thin {
  font-family: "RobotoLight", sans-serif;

  color: #FFFFFF;
}

.text-md {

  font-size: 25px;
  line-height: 35px;
}

.text-xs {
font-size: 16px;
line-height: 19px;
}

.footer-font {
  font-family: "RobotoRegular", sans-serif;

  letter-spacing: 3px;
  text-transform: uppercase;
  color: #9D9D9D;
}
