/* Зададим стили для всей секции home-page */
#home-page {
  /* min-height: 100vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../../assets/blik_desk.png");
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position-y: -153px;
  background-color: #202024;
  /* width: 100%; */
}

/* Стили хедера */

.header-main {
  height: 75px;

}


.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-text {
  padding-top: 35px;
}

/* Стили для логотипа */

.logo-text {
  margin-top: 10px;
  font-size: 25px;
  line-height: 29px;
}

.logo-bg {
  background-size: cover;
  background-image: url("../../assets/logo-bg.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 100%;

  height: 100%;

  background-position: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-wrap {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 390px;
  height: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.logo-img {
  position: absolute;
  max-width: 237px;
  max-height: 237px;
  z-index: 100;
}

/* стили блока ответа на вопрос */

.question-wrap {
  margin-top: 15px;

}

/* нижний блок "онлайн предсказание" */
.question-footer {
  margin-top: 35px;
  margin-bottom: 40px;
}


.footer-home {
  margin-top: 100px;
}

.footer-bg {
  position: relative;
  padding-bottom: 80px;
}

.footer-text {
  font-size: 25px;
  line-height: 35px;
  /* text-align: center; */
}

.footer-wrapper {
  overflow: hidden;
}


.footer-content .footer-text {
  margin-top: 80px;
  margin-bottom: 80px;

}

@media only screen and (max-width: 768px) {
  #home-page {
    background-image: url("../../assets/blik.png");
    background-size: 100% auto;
    background-position-y: -50px;
  }

  .header-main {
    height: 35px;
  }

  .header-text {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo-text {
    font-size: 20px;
    line-height: 23px;
  }

  .logo-wrap {
    width: 225px;
    height: 225px;
    margin-top: 35px;
  }

  .logo-img {
    max-width: 137px;
    max-height: 137px;
  }

  .notice {
    width: 255px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .notice-text {
    margin: 20px auto;
    font-size: 16px;
    line-height: 25px;
  }

  .notice-text b {
    font-size: 20px;
    line-height: 25px;
  }

  .notice-image {
    width: 78px;
    height: 78px;
  }

  .about-our-goals-wrap {
    min-height: 331px;
    margin-top: 40px;
  }

  .photo-text {
    width: 220px;
    padding-top: 100px;
    font-size: 16px;
    line-height: 25px;
  }

  .question-wrap {
    margin-top: 0;
  }

  .question-footer {
    margin-top: 20px;
    /* margin-bottom: 40px; */
  }

  .footer-home {
    margin-top: 60px;
  }

  .footer-bg {
    /* position: relative; */
    padding-bottom: 45px;
  }

    .footer-content .footer-text {
    font-size: 20px;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 40px;
  }


}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #home-page {
    background-position-y: 0;
  }
}
