body {
  margin: 0;
  background-color: #202024;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 120px;
}

p {
  margin: 0;
}

/* svg картинки на фоне */

.eye-bg {
  position: absolute;
  top: 0;
  right: -130px;
  width: 300px;
  height: 200px;
}

.eye-bg-h {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  right: -47px;
}

.moon-bg {
  position: absolute;
  bottom: 50px;
  left: -40px;
  width: 165px;
  height: 165px;
}

.moon-bg-q {
  position: absolute;
  top: -120px;
  left: -21px;
  width: 90px;
  height: 90px;
}

.runes1 {
  width: 57px;
  height: 18px;
}

.runes2 {
  width: 57px;
  height: 18px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}

.container-bottom {
  flex-grow: 3;

}

  .container-test {
    max-width: 600px;
    width: 100%;
  }

.content {
  max-width: 600px;
  display: flex;
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}



@media only screen and (max-width: 768px) {
  section {
    margin-bottom: 50px;
  }


  .eye-bg {
    right: -30px;
    width: 84px;
    height: 50px;
  }

  .eye-bg-h {
    height: 57px;
    right: -20px;
  }

  .moon-bg {
    bottom: 70px;
    left: -15px;
    width: 50px;
    height: 50px;
  }

  .moon-bg-q {
    top: -35px;
    left: -10px;
    width: 50px;
    height: 50px;
  }

  .runes1 {
    width: 33px;
    height: 10px;
  }

  .runes2 {
    width: 33px;
    height: 10px;
  }
}
