@import "fonts.css";
@import "layout.css";
@import "button.css";
@import "about.css";
@import "home-page.css";
@import "test-page.css";
@import "helper.css";
@import "result-page.css";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
}







